# Dependencies
node_modules

# Local Netlify folder
.netlify

# Environment variables & Secret Keys - DO NOT COMMIT
.env
.env.local

# Explicitly ignore your Firebase service account key
config/digiworld-46a1e-firebase-adminsdk-fbsvc-0bde804ae9.json
# Or, to ignore ANY .json file in the config folder:
# config/*.json
# Ignore Firebase Admin SDK keys
*.json